{{ partial "head.html" . }}
<body>
<div class="wrap" style="margin-top: 4rem;">
  <div class="nav-link"><a href="https://cv.andyfang.me">CV / Resume</a></div>
  <div class="nav-link"><a href="mailto:andy@andyfang.me">andy@andyfang.me</a></div>
  <div id="content" style="margin-top: 2rem;">
    {{ .Content }}
  </div>
</div>
<style>
.nav-link {
  font-family: "Didact Gothic", "sans serif";
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.5em;
}
#content p {
  display: block;
  margin-bottom: 1em;
}
</style>
</body>
